@tailwind base;
@tailwind components;
@tailwind utilities;

/* Largeur de la scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: blue;
}

a:hover {
  @apply text-secondary;
}

.animate,
a,
a:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* Styles personnalisés pour la scrollbar */
::-webkit-scrollbar {
  width: 5px;
  /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Couleur de fond de la piste */
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 20px;
  width: 2px;
  height: 5px;
  /* Couleur du curseur */
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary-600;
  /* Couleur du curseur au survol */
}