@tailwind base;
@tailwind components;
@tailwind utilities;

/* Largeur de la scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: blue;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

a:hover {
  @apply text-secondary;
}

.animate,
a,
a:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.word-space {
  word-spacing: 5px;
}

/* Styles personnalisés pour la scrollbar */
::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  @apply bg-white
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Couleur de fond de la piste */
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 20px;
  -webkit-border-radius: 1ex;
  /* Couleur du curseur */
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary-600;
  /* Couleur du curseur au survol */
}




::-webkit-scrollbar-corner {
  @apply bg-secondary-600;
}